<div class="new-form-wrap">  
  <%= form_for @sound_design do |f| %>
    
    <% if @sound_design.errors.any? %>
      <div>
        <h2><%= pluralize(@sound_design.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% @sound_design.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="back-wrap">
      <%= f.label :title, :class => "back-label" %>
      <%= f.text_field :title, :class => "back-field", :id => "title-back-field" %>
    </div>

    <div class="back-wrap">
      <%= f.label :description, :class => "back-label" %>
      <%= f.rich_text_area :description, :class => "back-field", :id => "description-back-field" %>
    </div>

    <div class="back-wrap">
      <% if @sound_design.image.attached? %>
        <%= image_tag @sound_design.image, style: "width: 200px; display: block" %>
      <% end %>
      <%= f.label :image, :class => "back-label" %><br>
      <%= f.file_field :image, direct_upload: true %>
    </div>

    <div class="back-wrap" id="iframe-wrap">
      <%= f.fields_for :vimeos do |f| %>
          <%= render 'vimeo_fields', f: f %>
      <% end %>
      <%= link_to_add_fields "Add another iframe", f, :vimeos %>
    </div>

    <div class="back-wrap" id="save-cancel-wrap">
      <%= f.submit "Save", :class => "create-btn" %>
  <% end %>
      <%= link_to 'Cancel', sound_designs_path, :class => "cancel-btn" %>
    </div>
</div>

<script>

  $('form').on('click', '.remove_fields', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('.vimeo_links').hide();
    return event.preventDefault();
  });

  $('form').on('click', '.add_fields', function(event) {
    console.log('clicked!')
      var regexp, time;
      time = new Date().getTime();
      regexp = new RegExp($(this).data('id'), 'g');
      $(this).before($(this).data('fields').replace(regexp, time));
      return event.preventDefault();
  });

</script>
