<h1>New Music Production</h1>

<%= form_for @song do |f| %>

  <% if @song.errors.any? %>
    <div>
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @song.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description%><br>
    <%= f.rich_text_area :description %>
  </p>

  <p>
    <% if @song.image.attached? %>
      <%= image_tag @song.image, style: "width: 200px; display: block" %>
    <% end %>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </p>

  <p>
    <%= f.fields_for :iframes do |f| %>
        <%= render 'iframe_fields', f: f %>
    <% end %>
    <%= link_to_add_fields "Add another iframe", f, :iframes %>
  </p>


  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>

<%= link_to 'Cancel', songs_path %>

<script>

  $('form').on('click', '.remove_fields', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('.iframe_links').hide();
    return event.preventDefault();
  });

  $('form').on('click', '.add_fields', function(event) {
    console.log('clicked!')
      var regexp, time;
      time = new Date().getTime();
      regexp = new RegExp($(this).data('id'), 'g');
      $(this).before($(this).data('fields').replace(regexp, time));
      return event.preventDefault();
  });

</script>
