<div class="new-form-wrap">
  <%= form_for @song do |f| %>

    <% if @song.errors.any? %>
      <div>
        <h2><%= pluralize(@song.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% @song.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="back-wrap">
      <%= f.label :title, :class => "back-label" %>
      <%= f.text_field :title, :class => "back-field", :id => "title-back-field" %>
    </div>

    <div class="back-wrap">
      <%= f.label :description, :class => "back-label" %>
      <%= f.rich_text_area :description, :class => "back-field", :id => "description-back-field" %>
    </div>

    <div class="back-wrap">
      <% if @song.image.attached? %>
        <%= image_tag @song.image, style: "width: 200px; display: block" %>
      <% end %>
      <%= f.label :image, :class => "back-label" %>
      <%= f.file_field :image, direct_upload: true %>
    </div>

    <div class="back-wrap" id="iframe-wrap">
      <%= f.fields_for :iframes do |f| %>
          <%= render 'iframe_fields', f: f %>
      <% end %>
      <%= link_to_add_fields "Add another iframe", f, :iframes %>
    </div>

    <div class="back-wrap" id="save-cancel-wrap">
      <%= f.submit "Save" %>
  <% end %>
      <%= link_to 'Cancel', songs_path %>
    </div>
</div>

<script>

  $('form').on('click', '.remove_fields', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('.iframe_links').hide();
    return event.preventDefault();
  });

  $('form').on('click', '.add_fields', function(event) {
    console.log('clicked!')
      var regexp, time;
      time = new Date().getTime();
      regexp = new RegExp($(this).data('id'), 'g');
      $(this).before($(this).data('fields').replace(regexp, time));
      return event.preventDefault();
  });

</script>
