
<h1><%= @song.title %></h1>
<p><%= @song.description %></p>

<% @song.iframes.each do |iframe| %>
  <p>
    <%= iframe.iframe_url.html_safe %>
  </p>
<% end %>

<%= link_to "Back", songs_path %> |
<%= link_to "Edit", edit_song_path %> |
<%= link_to "Delete", song_path, method: :delete, data: { confirm: "Are you sure?"} %>  

<div>
  <% if @song.previous %>
    <%= link_to @song.previous, :action => 'go' do %>
      <i class="fas fa-caret-left"></i>
      <%= @song.previous.title %>  
    <% end %>
  <% end %>
  |
  <% if @song.next %>
    <%= link_to @song.next, :action => 'go' do %>
      <%= @song.next.title %>
      <i class="fas fa-caret-right"></i>
    <% end %>
  <% end %>
</div>