<h1><%= @song.title %></h1>
<p><%= @song.description %></p>
<p><%= @song.youtube_url %></p>
<iframe src='https://www.youtube.com/embed/<%= @song.youtube_url %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
<iframe width="640" height="360" src="http://www.youtube.com/embed/<%= @song.youtube_url %>" frameborder="0" allowfullscreen></iframe>
<%= link_to "Back", songs_path %> |
<%= link_to "Edit", edit_song_path %> |
<%= link_to "Destroy", song_path, method: :delete, data: { confirm: "Are you sure?"} %>  