<!DOCTYPE html>
<html>
  <head>
    <title>L'Aurore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/65fb5af6ee.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="header">
      <div class="logo-box">
          <%= link_to image_tag("laurore.jpg", :class => "style_logo"), root_path, active: :exact %>
      </div>

      <!-- If you need to inclue the link_to into a div 
      https://stackoverflow.com/questions/30639767/how-can-we-add-link-to-with-a-div-in-rails 
      -->

      <!-- Alert messages -->


      <div class="navbar">
        <div class="nav-link">
          <%= active_link_to "L'Aurore", root_path, active: :exact, :class => "menu_button" %>
        </div>
        <div class="nav-link">
          <%= active_link_to "Music Production", songs_path, :class => "menu_button" %>
        </div>
        <div class="nav-link">
          <%= active_link_to "Music / Sound Design for Advertising", sound_designs_path, :class => "menu_button" %>
        </div>
        <div class="nav-link">
          <%= active_link_to "Studio", studio_path, :class => "menu_button" %>
        </div>
        <div class="nav-link" id="last-nav-link">
          <%= active_link_to "Contact", new_contact_path, :class => "menu_button" %>
        </div>
      </div>

      <div class="social">
        <a href="https://www.facebook.com/AuLabelAurore"  target="_blank" class="social_icons"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/label.aurore/" target="_blank" class="social_icons"><i class="fab fa-instagram"></i></a>
        <a href="https://vimeo.com/user98874758" target="_blank" class="social_icons"><i class="fab fa-vimeo-v"></i></a>
      </div>
    </div>

    <div class="flash-messages">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>

    <div class="sign-out-wrap">
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "sign-out-button" %>
      <% end %>
    </div>

    <%= yield %>

    <footer>
      <div class="social-footer">
        <a href="https://www.facebook.com/AuLabelAurore"  target="_blank" class="social_icons_footer"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/label.aurore/" target="_blank" class="social_icons_footer"><i class="fab fa-instagram"></i></a>
        <a href="https://vimeo.com/user98874758" target="_blank" class="social_icons_footer" id="social_icons_footer_right"><i class="fab fa-vimeo-v"></i></a>
      </div>
      <div class="made-by">
        Made by CM
      </div>
    </footer>
  </body>
</html>
