<!DOCTYPE html>
<html>
  <head>
    <title>L'Aurore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/65fb5af6ee.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="header">
      <div class="logo-box">
          <%= image_tag("laurore.jpg", :class => "style_logo") %>
      </div>

      <!-- If you need to inclue the link_to into a div 
      https://stackoverflow.com/questions/30639767/how-can-we-add-link-to-with-a-div-in-rails 
      -->

      <div class="navbar">
        <%= link_to "L'Aurore", root_path %>
        <%= link_to "Music Production", songs_path %>
        <%= link_to "Music / Sound Design for Advertising", "#" %>
        <%= link_to "Studio", studio_path %>
        <%= link_to "Contact", contact_path %>
      </div>

      <div class="social">
        <a href="https://www.facebook.com/AuLabelAurore"  target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/label.aurore/"><i class="fab fa-instagram"></i></a>
        <a href="https://vimeo.com/user98874758"><i class="fab fa-vimeo-v"></i></a>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
